################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DatingAppAPI/.vs/DatingAppAPI/v17/.futdcache.v2
/DatingAppAPI/.vs/DatingAppAPI/v17/.suo
/.vs/DatingApp/FileContentIndex
/.vs/DatingApp/v17/.wsuo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/DatingAppAPI/.vs/DatingAppAPI/FileContentIndex/38aed850-51dc-4df4-a83b-0915589c315a.vsidx
/DatingAppAPI/.vs/DatingAppAPI/FileContentIndex/4e1ec19d-b381-4ddc-925c-b94ded7af1f0.vsidx
/DatingAppAPI/.vs/DatingAppAPI/FileContentIndex/744d9853-a479-43f2-b90b-aac88cfa0c95.vsidx
/DatingAppAPI/.vs/DatingAppAPI/FileContentIndex/9f75aed5-ae2b-4b05-9dbe-600f1ad72a68.vsidx
/DatingAppAPI/.vs/DatingAppAPI/FileContentIndex/bfa4f363-f7d9-40b2-b5b0-4ce2d1f9489e.vsidx
/DatingAppAPI/.vs/ProjectEvaluation/datingappapi.projects.v7.bin
/DatingAppAPI/.vs/ProjectEvaluation/datingappapi.metadata.v7.bin
/DatingAppAPI/DatingAppAPI/obj/Debug/net7.0/DatingAppAPI.GeneratedMSBuildEditorConfig.editorconfig
/DatingAppAPI/DatingAppAPI/obj/Debug/net7.0/DatingAppAPI.assets.cache
/DatingAppAPI/DatingAppAPI/obj/DatingAppAPI.csproj.nuget.dgspec.json
/DatingAppAPI/DatingAppAPI/obj/project.assets.json
/DatingAppAPI/DatingAppAPI/obj/project.nuget.cache
